

    <!--
      -
      - Create our tab header
      -
      -->
    <table width="100%" bgcolor="#222222" class="menubar">
        <tr>
            <td align="left">Construction</td>
            <td id='construction-view-div-toggle-x'
                style="cursor: pointer"
                align="right">x</td>
        </tr>
    </table>

    <!--
      -
      - Component body
      -
      -
      -->
    <div id='construction-view-body'
            style=" padding: 5px;
                    position: relative;
                    height: 500px;
                    border: 1px solid white;
                    width: 300px;
                    overflow-y: scroll; " >

        <table  id='construction-view-table'
                width="100%"
                cellpadding="1"
                cellspacing="0"
                border="0"
                bordercolor="white" >
        </table>
    </div>

