<table width='100%' bgcolor='#222222' class="menubar" >
   <tr>                                
       <td  width='60%' align='left' nowrap>
           <a id='detail-map-div-toggle'        href='#'>Detail Map</a> &nbsp;
           <a id='world-map-div-toggle'         href='#'>World Map</a> &nbsp;
           <a id='detail-view-div-toggle'       href='#'>Detail</a> &nbsp;
           <a id='construction-view-div-toggle' href='#'>Construction</a> &nbsp;
           <a id='object-view-div-toggle'       href='#'>Objects</a> &nbsp;    
           <a id='template-view-div-toggle'     href='#'>Template</a> &nbsp;    
       <td width='20%'>&nbsp;</td>                            
       <td id='' width='10%' nowrap>                         
                &nbsp;                                      
                <a href="javascript:objectRegistry.get('cookie-manager').deleteAll()">Delete cookies</a>
       </td>                                               
       <td id='usercell' align="right" width='10%' nowrap>              
           <!-- <a id='profilelink' href='#'></a> -->    
       </td>                                                   
       <td width='10%' align="left" >                                        
           <a href='SessionServlet?action=logout'>Logout</a>   
       </td>                                                   
   </tr>                                                      
</table>                                                     
